.signup-container{
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    text-align: center;
    flex-direction: column;
}
.signup-card{
    width: 25rem;
    height: 25rem;
    border:1px solid #ccc;
    padding: 1rem;
}
.bottom-card{
    width: 25rem;
    border:1px solid #ccc;
    padding: 1rem;
    margin-top: 1rem;
}
.tnc{
    width:25rem;
    padding:1rem; 
    /* margin-top:0.02rem; */
    color:grey;
    text-align: center;
}